{
  "prefix":
        <setting only to useless help>,
  "privileged role":
        <id of moderation role. Type()=int>,
  "lang":
        <current language, you also can change it with command>,
  "time_to_draft_phase_in_seconds":
        <needier afk time when 2 person in draft. Type()=int>,
  "league_roles": [
    <name of roles of Battlerite league of yor server (you must have it). Type()=str>
  ],
  "game_roles": {
    "Battlerite": "MAIN game of this guild",
    <another games in what plays members of guild>
  }
}